@font-face {
	font-family: tt;
	font-display: swap;
	src: url("../fonts/tt-trailers-regular.woff2") format ("woff2"), url("../fonts/tt-trailers-regular.woff") format ("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KavaWeb;
	font-display: swap;
	src: url("../fonts/KavaWeb-BoldIta W03 Regular.woff2") format ("woff2"), url("../fonts/KavaWeb-BoldIta W03 Regular.woff") format ("woff");
	font-weight: 400;
	font-style: normal;
}
